// Mixins in here

.displayFlex(@j, @a) {
  display: flex;
  justify-content: @j;
  align-items: @a;
}

.font(@size, @lh) {
  font-family: 'Roboto', sans-serif;
  color: @font-color;
  font-size: @size;
  line-height: @lh;
}

.signupButton(@h, @w) {
  .font(1.8rem, 2);
  padding: @h @w;
  border: 1px solid @silver;
  border-radius: 1.5rem;
  background-color: @button-bg;
  color: @white;
}
