// Navigation Styles here

nav {
  .displayFlex(space-between, flex-end);
  width: 1000px;
  padding: 2.4rem 10rem;
  border-bottom: 2px dashed @navigation-border;
  margin: auto;
  color: @font-color;
  ul {
    .displayFlex(flex-end, center);
    margin-right: 1.3rem;
    a {
      .font(1.6rem, 2.5);
      padding: 1.6rem;
      text-decoration: none;
    }
  }
}
